<!doctype html>
<html lang="en" ng-app="ToDoList">
<head>
  <meta charset="utf-8">
  <title>To-Do List</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="toDoListController.js"></script>
</head>

<body ng-controller="ToDoListController as toDoCtrl">
  <div>

    <form class="form-horizontal">
      <input type="text">
      <button class="btn">Add task</button>
    </form>

    <ul class="list-group">
      <li ng-repeat="task in toDoCtrl.tasks">
        {{task.task}}
      </li>
    </ul>

  </div>
</body>
</html>
<!--
  <body ng-controller="ToDoListController as toDoCtrl">

    <h1>To-Do List</h1>

    <ul class="nav nav-pills">
      <li ng-class="{ active:toDoCtrl.tabIsSet(1) }" id='allTab'>
        <a href ng-click="toDoCtrl.setTab(1)">All</a>
      </li>
      <li ng-class="{ active:toDoCtrl.tabIsSet(2) }" id='incompleteTab'>
        <a href ng-click="toDoCtrl.setTab(2)">Incompleted</a>
      </li>
      <li ng-class="{ active:toDoCtrl.tabIsSet(3) }" id='completeTab'>
        <a href ng-click="toDoCtrl.setTab(3)">Completed</a>
      </li>
    </ul>

    <form class="form-horizontal">
      <input type="text" ng-model="string">
      <button class="btn" id='addTask' ng-click="toDoCtrl.addTask(string)">Add Task</button>
    </form>

    <div ng-show="toDoCtrl.tabIsSet(1)">
      <h4>All Tasks</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat ="task in toDoCtrl.tasks">
          {{task.task}}
          <button class="btn" id='completeTask' ng-click="toDoCtrl.completedTask(task)">Completed</button>
        </li>
      </ul>
    </div>

    <div ng-show="toDoCtrl.tabIsSet(2)">
      <h4>Incomplete Tasks</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat ="task in toDoCtrl.tasks" ng-hide="task.completed">
          {{task.task}}
          <button class="btn" id='completeTask' ng-click="toDoCtrl.completedTask(task)">Completed</button>
        </li>
      </ul>
    </div>

    <div ng-show="toDoCtrl.tabIsSet(3)">
      <h4>Completed Tasks</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat ="task in toDoCtrl.tasks" ng-show="task.completed">
          {{task.task}}
        </li>
      </ul>
    </div>

  </body>
</html> -->
